<div class="card" >
  <mat-card color="Primary" class="example-card">
    
    <img mat-card-image src="../assets/summer.jpg" alt="summer" *ngIf="14<15">
    <img mat-card-image src="../assets/winter.jpg" alt="winter" *ngIf="14>=15">
    <div class="weather-data">
      <div class="location">Mumbai</div>
      <div class="temperature">{{14.40 | number:'1.0-0'}}&#176;C</div>
    </div>
    <div class="">
      <p class="text-center pt-2">More Information</p>
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile><img width="35px" src="../assets/temperature.png"> Min Temp 10&#176;C</mat-grid-tile>
        <mat-grid-tile><img width="35px" src="../assets/hot.png"> Max Temp 20&#176;C</mat-grid-tile>
        <mat-grid-tile><img width="35px" src="../assets/wind.png"> Humidity 77%</mat-grid-tile>
        <mat-grid-tile><img width="35px" src="../assets/clouds.png"> Wind 11KM/H</mat-grid-tile>
      </mat-grid-list>
    </div>
    <!-- <mat-card-actions>
      <button mat-raised-button color="primary">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions> -->
  </mat-card>
  

</div>